<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace 命名空间   必须是唯一的-->
<mapper namespace="com.example.dingding.mapper.SignDao">
    <insert id="add" parameterType="com.example.dingding.entity.Sign">
        insert into sign (sp_id,u_id,sign_time) values(#{spId},#{uId},now())
    </insert>
    <insert id="reissue" parameterType="com.example.dingding.entity.Sign">
        insert into sign (sp_id,u_id,sign_time) values(#{spId},#{uId},now())
    </insert>
    <select id="summation" parameterType="int">
        select sum(u_id) from sign group by u_id having u_id = #{uId}
    </select>


</mapper>